<div app-warn></div>
<app-sucessalert></app-sucessalert>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- output decorator -->
            <app-server (serverCreated)="onserverAdded($event)" (bpCreated)="onblueprintAdded($event)"></app-server>
        </div>     
    </div>
</div>
<!-- input decorator -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <app-server-element *ngFor= "let servers of server" [element]="servers"></app-server-element>
        </div>
    </div>
</div>